target
.project
.classpath
.settings
.idea
*.iml
Thumbs.db
obj/
libs/
*.chain
*.spvchain
*.wallet
*.tmp
*.dat
checkpoints
checkpoints-testnet.txt
checkpoints.txt
*.txt
.gradle/
*.log
*.DS_Store
*.db
core/2.0.32_pivx-wallet-backup_org.pivx.production-2017-11-20
*build/
*.DS_Store
*out/
*3.0.0_pivx-wallet-backup*
core/out/*